<header-component></header-component>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="items-center justify-center flex relative">
                <img class="h-96 items-center justify-center justify-items-center pt-48" src="assets/logo.svg">
              </div>
              <div class="relative">
                <h1 class="text-6xl text-center">Bem-Vindos ao Stocker!</h1>
              </div>
            </div>
        </div>
    </div>
<footer-component></footer-component>
</body>
