<!-- user-list-dialog.component.html -->
<div *ngIf="mode === 'List'" class="flex flex-col w-auto h-auto overflow-x-auto overflow-y-auto">
  <div class="-my-2 sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table mat-table [dataSource]="dataSource" class="min-w-full divide-y divide-gray-200 w-auto h-auto p-6 block sm:table">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
            <td mat-cell *matCellDef="let element" class="px-6 py-4 whitespace-nowrap">{{element.name}}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
            <td mat-cell *matCellDef="let element" class="px-6 py-4 whitespace-nowrap">{{element.email}}</td>
          </ng-container>

          <!-- Password Column -->
          <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Password</th>
            <td mat-cell *matCellDef="let element" class="px-6 py-4 whitespace-nowrap">{{element.password}}</td>
          </ng-container>

          <!-- Define the row definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-gray-50"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bg-white"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
